<?xml version='1.0' encoding='utf-8'?>
<widget id="com.fahhem.hackthedrive.cararrival" version="0.0.1"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CarArrival</name>
    <description>
        An app that prepares the car for your arrival.
    </description>
    <author email="fahhem@gmail.com" href="http://fahhem.com">
        Fahrzin Hemmati
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
